<style>
    .blink {
        animation: blink-animation 1s steps(3, start) infinite;
        -webkit-animation: blink-animation 1s steps(3, start) infinite;
        color: #fd8900;
    }

    @keyframes blink-animation {
        to {
            visibility: hidden;
        }
    }

    @-webkit-keyframes blink-animation {
        to {
            visibility: hidden;
        }
    }
</style>
<h3>Menu</h3>
<br/>
<ul class="list-group">
    <a href="/admin">
        <li class="list-group-item">Home</li>
    </a>
    <a href="/admin/push">
        <li class="list-group-item">Push Notifications <span class="blink">[New]</span></li>
    </a>
    <a href="/admin/courses">
        <li class="list-group-item">Courses</li>
    </a>
    <a href="/admin/hackerearth">
        <li class="list-group-item">Add HE Test <span class="blink">[New]</span></li>
    </a>
    <a href="/admin/venue/add">
        <li class="list-group-item">Institute branches</li>
    </a>
    <a href="/admin/feedbacks">
        <li class="list-group-item">Feedbacks</li>
    </a>
    <a href="/admin/payments">
        <li class="list-group-item"><s>Payments</s></li>
    </a>
    <a href="/logout">
        <li class="list-group-item">Logout</li>
    </a>
</ul>