<h3>Menu</h3>
<br/>
<ul class="list-group">
    <a href="#">
        <li class="list-group-item">Home</li>
    </a>
    <a href="#">
        <li class="list-group-item">Profile</li>
    </a>
    <a href="#">
        <li class="list-group-item">Fee Tracker</li>
    </a>
    <a href="/logout">
        <li class="list-group-item">Logout</li>
    </a>
</ul>