<!doctype html>
<html lang="en">
<head>
	<title>Codeshala | GET BETTER AT PRORGAMMING</title>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!--CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
	<link href="assets/css/main.css" rel="stylesheet">
	<!--Meta Data-->
	<!-- for Google -->
	<meta name="description" content="We are community of programmers. Our community is lead by professionals who have broad experience in competitve programming and software development. Our community mentors are working at top companies and providing mentorship to candidates across different colleges." />
	<meta name="keywords" content="codeshala" />
	<meta name="author" content="Codeshala.Org" />
	<meta name="copyright" content="contact@codeshala.org" />
	<meta name="application-name" content="Codeshala" />
	<!-- for Facebook -->
	<meta property="og:url"                content="http://codeshala.org" />
	<meta property="og:type"               content="article" />
	<meta property="og:title"              content="Codeshala | GET BETTER AT PRORGAMMING" />
	<meta property="og:description"        content="We are community of programmers. Our community is lead by professionals who have broad experience in competitve programming and software development. Our community mentors are working at top companies and providing mentorship to candidates across different colleges." />
	<meta property="og:site_name"          content="Codeshala | GET BETTER AT PRORGAMMING" />
	<meta property="og:image"              content="https://s3-eu-west-1.amazonaws.com/codeshala.org/assets/cover-image.jpg" />
	<!-- for Twitter -->
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:title" content="Codeshala | GET BETTER AT PRORGAMMING" />
	<meta name="twitter:description" content="e are community of programmers. Our community is lead by professionals who have broad experience in competitve programming and software development. Our community mentors are working at top companies and providing mentorship to candidates across different colleges." />
	<meta name="twitter:image" content="https://s3-eu-west-1.amazonaws.com/codeshala.org/assets/cover-image.jpg" />
	<!-- Favicon and app icon settings -->
	<link rel="apple-touch-icon" sizes="57x57" href="assets/favicon/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="assets/favicon/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="assets/favicon/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="assets/favicon/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="assets/favicon/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="assets/favicon/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="assets/favicon/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="assets/favicon/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="assets/favicon/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="assets/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="assets/favicon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="assets/favicon/favicon-16x16.png">
	<link rel="manifest" href="assets/favicon/manifest.json">
	<meta name="msapplication-TileColor" content="#f3f3f3">
	<meta name="msapplication-TileImage" content="assets/favicon/ms-icon-144x144.png">
	<meta name="theme-color" content="#f3f3f3">

</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark">
		<a class="navbar-brand" href="index.html">
			<img class="codeshala-logo" src="assets/images/site_logo.png">
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
			<ul class="navbar-nav justify-content-end">
				<li class="nav-item active">
					<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="#courses-section">Courses</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="#placements">Placements</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="#about-us">About Us</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="#contact-us">Contact Us</a>
				</li>
			</ul>
		</div>
	</nav>
	<div class="container text-center codeshala-heading">
		<h1>
			GET BETTER AT PRORGAMMING
		</h1>
		<!--<p><a class="btn btn-lg btn-primary" href="#" role="button">Join us today</a></p>-->
	</div>
	<hr>
	<div class="container text-center" id="courses-section">
		<h1 class="text-dark text-center font-weight-bold">Courses</h1>
		<div class="row mx-auto">
			<div class="card col-lg-3 codeshala-course-card">
				<h2>Full Stack Web Development Using Node.JS</h2>
				<p>The course is designed to make students understand basics of how the web works and make them develop frontend using popular frameworks like bootstrap and backend using Node.js with MongoDB database. This course involves developing projects which will transform a beginner in development to a professional developer and have their resume outshine others.</p>
				<p><b>Duration: </b>12-16 Sessions</p>
				<p><b>Fee:</b> 5K</p>
				<p><b>Number of Seats(Add-on):</b> 10</p>
				<p><b>Seats Left:</b> 10</p>
				<div class="row">
					<div class="col-lg-12 codeshala-btninfo">
						<a class="btn btn-secondary" href="" role="button"  data-toggle="modal" data-target="#ModalNODE">View details &raquo;</a>
					</div>
					<div class="col-lg-12 codeshala-btninfo">
						<a class="btn btn-success" href="https://ocul.in/cs-registrations-0118" role="button">Register Now</a>
					</div>
				</div>
			</div>
			<div class="card col-lg-3 codeshala-course-card">
				<h2>Placement Prep</h2>
				<p>This course is beneficial for the candidates who are going to participate in
				campus placements. Course includes all the topics algorithms, data structures, Object-Oriented Programming, OS, DB and Networking which are essential components of a technical interview. An interactive session which will cover all the topics, online MCQ and coding test series to improve the problem-solving skill and mock F2F/Telephonic interviews by professionals all are included in this course.</p>
				<p><b>Fee:</b> 7.5K</p>
				<p><b>Number of Seats(Add-on):</b> 10</p>
				<p><b>Seats Left:</b> 10</p>
				<div class="row">
					<div class="col-lg-12 codeshala-btninfo">
						<a class="btn btn-secondary" href="" role="button"  data-toggle="modal" data-target="#ModalINTERVIEW">View details &raquo;</a>
					</div>
					<div class="col-lg-12 codeshala-btninfo">
						<a class="btn btn-success" href="https://ocul.in/cs-registrations-0118" role="button">Register Now</a>
					</div>
				</div>
			</div>
			<div class="card col-lg-3 codeshala-course-card">
				<h2>Introduction to Programming using C/C++</h2>
				<p>Programming knowledge is indispensable in today’s world, and learning to code is one of the most valuable and useful things you should do.
				Whether you’re starting your career, moving up to the next level in a career, or just excited to learn a new skill, there is no time like the present to start learning, and this program offers everything you need to get up to speed—with no prior programming skills required.</p>
				<p><b>Duration: </b>22-25 Sessions</p>
				<p><b>Fee:</b> 7K</p>
				<p><b>Number of Seats(Add-on):</b> 10</p>
				<p><b>Seats Left:</b> 10</p>
				<div class="row">
					<div class="col-lg-12 codeshala-btninfo">
						<a class="btn btn-secondary" href="" role="button"  data-toggle="modal" data-target="#ModalITP">View details &raquo;</a>
					</div>
					<div class="col-lg-12 codeshala-btninfo">
						<a class="btn btn-success" href="https://ocul.in/cs-registrations-0118" role="button">Register Now</a>
					</div>
				</div>
			</div>
			<div class="card col-lg-3 codeshala-course-card">
				<h2>Algorithms and Data-Structures-1</h2>
				<p>This course is mix of algorithms and data-structures. You are going to learn
				basic algorithms and implementation of data-structures. Teaching how to implement an algorithm and how to choose the right set of data-structures to solve the question is the primary goal of this course. You will solve 150+ questions in one of your favorite programming language. Assignments questions are designed to help you cracking interview questions as well as competitive programming contest.</p>
				<p><b>Duration: </b>22-25 Sessions</p>
				<p><b>Fee:</b> 7K</p>
				<p><b>Number of Seats(Add-on):</b> 10</p>
				<p><b>Seats Left:</b> 10</p>
				<div class="row">
					<div class="col-lg-12 codeshala-btninfo">
						<a class="btn btn-secondary" href="" role="button"  data-toggle="modal" data-target="#ModalDA1">View details &raquo;</a>
					</div>
					<div class="col-lg-12 codeshala-btninfo">
						<a class="btn btn-success" href="https://ocul.in/cs-registrations-0118" role="button">Register Now</a>
					</div>
				</div>
			</div>
			<div class="card col-lg-3 codeshala-course-card">
				<h2>Algorithms and Data-Structures-2</h2>
				<p>This course provides a comprehensive explanation of different types of graph, graph algorithms, strings algorithms, trie, segment tree, dynamic programming etc. Throughout the course a step by step approach is followed to make you understand different algorithms. Through this course you can build a strong foundation in Data Structures and Algorithms that can help you to crack coding interviews and work in the industry.</p>
				<p><b>Duration: </b>22-25 Sessions</p>
				<p><b>Fee:</b> 7K</p>
				<p><b>Number of Seats(Add-on):</b> 10</p>
				<p><b>Seats Left:</b> 10</p>
				<div class="row">
					<div class="col-lg-12 codeshala-btninfo">
						<a class="btn btn-secondary" href="" role="button"  data-toggle="modal" data-target="#ModalDA2">View details &raquo;</a>
					</div>
					<div class="col-lg-12 codeshala-btninfo">
						<a class="btn btn-success" href="https://ocul.in/cs-registrations-0118" role="button">Register Now</a>
					</div>
				</div>
			</div>
		</div>
		<!-- Insert new course above this line-->
	</div>
	<!--Modal data starts here-->
	<div class="modal fade" id="ModalITP" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Introduction to Programming using C/C++
					</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					Have you ever wished to be a programmer, but had no idea where to start from?
					This course will teach you how to program, with an easy to use programming language C/C++.
					More importantly, it will introduce you to the fundamental principles of programming and
					it will help you think like a software engineer. Solve 100+ problems after joining this course.
					Programming knowledge is indispensable in today’s world, and learning to code is one of the most valuable and useful things you should do.
					Whether you’re starting your career, moving up to the next level in a career, or just excited to learn a new skill, there is no time like the present to start learning, and this program offers everything you need to get up to speed—with no prior programming skills required.
					<div class="container">
						<b>Course Curriculum</b>
						<li> Types, Operators and Expressions</li>
						<li>  Control Flow</li>
						<li>Functions and Program Structure</li>
						<li>Arrays and Strings</li>
						<li>Structures</li>
						<li> Standard Library</li>
						<li> C++ STL</li>
						<li> Hashing</li>
						<li> Bsic Number Theory</li>


						<b>What will you learn</b>
						<li> Logic Building</li>
						<li> C++ STL</li>
						<li> C Programming Fundamentals</li>

						<b>Schedule and Fee</b>
						<li> Duration : 3 months</li> 
						<li>Number of sessions : 22-25 </li>
						<li> Each Session Duration: 2 hours</li>
						<li>Course Fee: 7000 </li>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="ModalDA1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Algorithms and Data-Structures-1
					</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					This course is mix of algorithms and data-structures. You are going to learn basic algorithms and implementation of data-structures. Teaching how to implement an algorithm and how to choose the right set of data-structures to solve the question is the primary goal of this course. You will solve 150+ questions in one of your favorite programming language. Assignments questions are designed to help you cracking interview questions as well as competitive programming contest.
					<div class="container">
						<b>Course Curriculum</b>
						<li> Array and String</li>
						<li> Searching	</li>
						<li>Hashing</li>
						<li>Two Pointer</li>
						<li>Masking</li>
						<li>Linked List</li>
						<li>Trees</li>
						<li>Stack</li>
						<li>Queues</li>
						<li>Number Theory</li>
						<li>Basic Graph Theory</li>

						<b>What will you learn</b>
						<li>Logic Building</li>
						<li> Programming Fundamentals</li>
						<li> Algorithms</li>
						<li> Data Structures</li>

						<b>Schedule and Fee</b>
						<li> Duration : 3 months </li>
						<li>Number of sessions : 22-25 </li>
						<li> Each Session Duration: 2 hours</li>
						<li>Course Fee: 7000 </li>
					</div>
				</div>
			</div>
		</div>
	</div>	
	<div class="modal fade" id="ModalDA2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Algorithms and Data-Structures-2
					</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					This course provides a comprehensive explanation of different types of graph, graph algorithms, strings algorithms, trie, segment tree, dynamic programming etc. Throughout the course a step by step approach is followed to make you understand different algorithms. Through this course you can build a strong foundation in Data Structures and Algorithms that can help you to crack coding interviews and work in the industry.
					<div class="container">
						<b>Course Curriculum</b>
						<li> Graph Theory</li>
						<li> Trie</li>
						<li> String Algorithms</li>
						<li> Greedy</li>
						<li> Dynamic Programming</li>
						<li> Segment Tree</li>
						<li> Binary Index Tree</li>
						<li> Suffix Array and Trees</li>
						<li> Disjoint Set Union</li>
						<li> Number Theory</li>

						<b>What will you learn</b>
						<li>Logic Building</li>
						<li> Programming Fundamentals</li>
						<li> Algorithms</li>
						<li> Data Structures</li>

						<b>Schedule and Fee</b>
						<li> Duration : 3 months </li>
						<li>Number of sessions : 22-25 </li>
						<li> Each Session Duration: 2 hours</li>
						<li>Course Fee: 7000 </li>
					</div>
				</div>
			</div>
		</div>
	</div>	
	<div class="modal fade" id="ModalNODE" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Full Stack Web Development Using Node.JS
					</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					The course is designed to make students understand basics of how the web works and make them develop frontend using popular frameworks like bootstrap and backend using Node.js with MongoDB database. This course involves developing projects which will transform a beginner in development to a professional developer and have their resume outshine others.
					<div class="container">
						<b>Course Curriculum</b>
						<li>HTML5/CSS3 & Bootstrap - Responsive design</li>
						<li>Javascript basics, Jquery & Ajax</li>
						<li>Introduction to Node.js & installing Node.js</li>
						<li>Node Package Manager (NPM), Installing & using all basic modules</li>
						<li>Node.js Express</li>
						<li>Node.js Webpage Rendering</li>
						<li>Node.js MongoDB</li>
						<li>Node.js Socket.io</li>
						<li><li>Using GIT and Github, Registering your own website domain & Hosting static websites on Github</li> 
						<li>Deploying on Heroku/AWS/DigitalOcean </li>


						<b>Course Projects</b>

						<li>Developing URL Shortener using Node.js, MongoDB</li>
						<li>Developing a Blogging website with REST API architecture using Node.js and Facebook’s OG API for user authentication.</li>
						<li>Developing Chat system using sockets</li>


						<b>Schedule and Fee</b>
						<li> Duration : 2 months </li>
						<li>Number of sessions : 12-16 </li>
						<li> Each Session Duration: 2 hours</li>
						<li>Course Fee: 5000 </li>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="ModalINTERVIEW" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Placement Prep
					</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					This course is beneficial for the candidates who are going to participate in
					campus placements. Course includes all the topics algorithms, data structures, Object-Oriented Programming, OS, DB and Networking which are essential components of a technical interview. An interactive session which will cover all the topics, online MCQ and coding test series to improve the problem-solving skill and mock F2F/Telephonic interviews by professionals all are included in this course.
					<div class="container">
						<b>Course Curriculum</b>
						<ol>
							<li>15 MCQ Online Test Series</li>
							<li>15 Coding-INS Online Test Series</li>
							<li>6 Sessions for Object-Oriented Programming, Operating Systems, Database and Networking. These sessions duration will be 3 - 4 hours. </li>
							<li>8 Doubt Sessions/Topic Discussion for Coding-INS Test Series. Session duration for doubt session or topic discussion will be of 2 hours. </li>
							<li>3 Mock F2F/Telephonic Interviews</li>
							<li>Q&A sessions for interview preparation and interview experience by Professionals from Amazon, Adobe, Samsung, Google and many more.</li>
						</ol>


						<b>Schedule and Fee</b>
						<!--<li> Duration : 2 months </li>
						<li>Number of sessions : 12-16 </li>
						<li> Each Session Duration: 2 hours</li>-->
						<li>Course Fee: 7500 </li>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--Modal data ends here-->
	<hr>
	<div class="container text-center"  id="about-us">
		<h1 class=" text-dark text-center font-weight-bold">
			About Us
		</h1>
		<p class="codeshala-description">We are community of programmers. Our community is lead by professionals who have broad experience in competitve programming and software development. Our community mentors are working at top companies and providing mentorship to candidates across different colleges.</p>
		<div class="row mx-auto">
			<div class="col-lg-3 mx-auto">
				<img  src="assets/images/google.png" alt="Google" class="img-fluid codeshala-company-image">
			</div>
			<div class="col-lg-3 mx-auto">
				<img  src="assets/images/amazon.png" alt="Amazon" class="img-fluid codeshala-company-image">
			</div>
			<div class="col-lg-3 mx-auto">
				<img  src="assets/images/flipkart.png" alt="Flipkart" class="img-fluid codeshala-company-image">
			</div>
			<div class="col-lg-3 mx-auto">
				<img  src="assets/images/samsung.png" alt="Samsung" class="img-fluid codeshala-company-image">				
			</div>
			<div class="col-lg-3 mx-auto">
				<img  src="assets/images/adobe.png" alt="Adobe" class="img-fluid codeshala-company-image">
			</div>
		</div>
	</div>
	<hr>
	<div class="container text-center"  id="stats">	
		<div class="row mx-auto">
			<div class="col-lg-3 border border-dark rounded-circle codeshala-stats-card">
				<br/><br/><br/>
				<h1>300+</h1>
				<h2>Students</h2>
				<br/><br/><br/>
			</div>
			<div class="col-lg-3 border border-dark rounded-circle codeshala-stats-card">
				<br/><br/><br/>
				<h1>100+</h1>
				<h2>Placements</h2>
				<br/><br/><br/>
			</div>
			<div class="col-lg-3 border border-dark rounded-circle float-right codeshala-stats-card">
				<br/><br/><br/>
				<h1>10+</h1>
				<h2>Projects</h2>
				<br/><br/><br/>
			</div>	
		</div>
	</div>
	<hr>
	<div class="container text-center" id="placements">
		<h1 class=" text-dark text-center font-weight-bold">Placements</h1><br/>
		<p class="codeshala-description">We've achieved 100+ internship and job offers so far. Our community members placed at top companies like:</p>
		<div class="row mx-auto">
			<div class="col-lg-3 mx-auto">
				<img  src="assets/images/amazon.png" alt="Amazon" class="img-fluid codeshala-company-image">
			</div>
			<div class="col-lg-3 mx-auto">
				<img  src="assets/images/samsung.png" alt="Samsung" class="img-fluid codeshala-company-image">
			</div>
			<div class="col-lg-3 mx-auto">
				<img  src="assets/images/mediatek.png" alt="Mediatek" class="img-fluid codeshala-company-image">
			</div>
			<div class="col-lg-3 mx-auto">
				<img  src="assets/images/sprinklr.png" alt="Sprinklr" class="img-fluid codeshala-company-image">
			</div>
			<div class="col-lg-3 mx-auto">
				<img  src="assets/images/adobe.png" alt="Adobe" class="img-fluid codeshala-company-image">
			</div>
			<div class="col-lg-3 mx-auto">
				<img  src="assets/images/opera.png" alt="Opera" class="img-fluid codeshala-company-image">
			</div>
			<div class="col-lg-3 mx-auto">
				<img  src="assets/images/sapient.png" alt="Sapient" class="img-fluid codeshala-company-image">
			</div>
			<div class="col-lg-3 mx-auto">
				<img  src="assets/images/squadrun.png" alt="Squadrun" class="img-fluid codeshala-company-image">
			</div>
			<div class="col-lg-3 mx-auto">
				<img  src="assets/images/smartprix.png" alt="Smartprix" class="img-fluid codeshala-company-image">
			</div>
			<div class="col-lg-3 mx-auto">
				<img  src="assets/images/st.png" alt="ST" class="img-fluid codeshala-company-image">
			</div>
			<div class="col-lg-3 mx-auto">
				<img  src="assets/images/magicpin.png" alt="MagicPin" class="img-fluid codeshala-company-image">
			</div>
			<div class="col-lg-3 mx-auto">
				<img  src="assets/images/tcs.png" alt="TCS" class="img-fluid codeshala-company-image">
			</div>
			<div class="col-lg-3 mx-auto">
				<img  src="assets/images/daffodil.png" alt="Daffodil" class="img-fluid codeshala-company-image">
			</div>
			<div class="col-lg-3 mx-auto">
				<img  src="assets/images/capegemini.png" alt="Capegemini" class="img-fluid codeshala-company-image">
			</div>
			<div class="col-lg-3 mx-auto">
				<img  src="assets/images/libsys.png" alt="Libsys" class="img-fluid codeshala-company-image">
			</div>
			<!--Add new logos above this line-->
		</div>
	</div>
	<hr>
	<div class="container text-center" id="feedback">
		<h1 class=" text-dark text-center font-weight-bold">Feedback</h1><br/>
		<div class="col-lg-12">
				<div class="row">

					<div class="col-lg-9 col-md-9 col-sm-9">
						<div class="card border-primary mb-3">
							<div class="card-body codeshala-feedbackcard">
								<!--<h4 class="card-title">Primary card title</h4>-->
								<p class="card-text codeshala-feedbacktext text-left">If i want to give credits to anyone after my parents, then it is codeshala. Codeshala provided me with everything to become a better programmer. I was just a rock, codeshala made me gold. Almost every question that i encountered in Amazon interview was in the codeshala assignments . I just want to thank Chandan sir for his contribution and guidance and for being the best mentor any student can get. No doubt codeshala is the best place to learn.
								</p>
								<p class="card-text codeshala-feedbacktext text-left">~ Jatin Bansal <br/>Placed at Amazon</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-3">
						<img src="assets/images/feedbacks/jatin_bansal.jpg" class="img-fluid rounded-circle codeshala-feedbackimage mx-auto float-center text-center">
					</div>
				</div>
			</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="row">
					<div class="col-lg-3 col-md-3 col-sm-3">
						<img src="assets/images/feedbacks/sample.jpg" class="img-fluid rounded-circle codeshala-feedbackimage mx-auto float-center text-center">
					</div>
					<div class="col-lg-9 col-md-9 col-sm-9">
						<div class="card border-primary mb-3">
							<div class="card-body codeshala-feedbackcard">
								<!--<h4 class="card-title">Primary card title</h4>-->
								<p class="card-text codeshala-feedbacktext text-left">It was a fruitful learning experience. There was always an enthusiastic environment that made coding a lot more fun ! Classes were always interactive.
								Assignments, INS , Contests everything was great. It has really improved my programming skills. I am very satisfied and feel happy that I have inculcated the zest for coding.</p>
								<p class="card-text codeshala-feedbacktext text-left">~ Samiksha Bansal<br/>Intern at Amazon</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-12">
				<div class="row">

					<div class="col-lg-9 col-md-9 col-sm-9">
						<div class="card border-primary mb-3">
							<div class="card-body codeshala-feedbackcard">
								<!--<h4 class="card-title">Primary card title</h4>-->
								<p class="card-text codeshala-feedbacktext text-left">Codeshala a pathway to achieve success. I really want to thank codeshala team especially Chandan sir for helping me understand the programming techniques. Questions from your assignments came straight into my amazon technical interview and your session to write code on paper helped me to visualize my mistakes.it enhanced my skills and i was able to write code more confidently and accurately.. codeshala team you guys rock 👍👌
									i recommend everyone to join the codeshala classes if you are struggling with the programming. they have a number of effective assignments, which makes the concepts clear...
								</p>
								<p class="card-text codeshala-feedbacktext text-left">~ Sahil Ahuja<br/>Intern at Amazon</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-3">
						<img src="assets/images/feedbacks/sahil_ahuja.jpg" class="img-fluid rounded-circle codeshala-feedbackimage mx-auto float-center text-center">
					</div>
				</div>
			</div>
			<div class="col-lg-12">
				<div class="row">
					<div class="col-lg-3 col-md-3 col-sm-3">
						<img src="assets/images/feedbacks/sample.jpg" class="img-fluid rounded-circle codeshala-feedbackimage mx-auto float-center text-center">
					</div>
					<div class="col-lg-9 col-md-9 col-sm-9">
						<div class="card border-primary mb-3">
							<div class="card-body codeshala-feedbackcard">
								<!--<h4 class="card-title">Primary card title</h4>-->
								<p class="card-text codeshala-feedbacktext text-left">

									A right guidance at the right time to opt for right goals will certainly lead to a right future in life. This is what I've learnt from CODESHALA and will continue to follow ahead..

									From learning basic concepts to complex algorithms, all have been taught with such simplicity and fun that everyone could understand it and had got enough desire to code it on his own. This is really what marks the skills of a great mentor and teacher. 
									I owe all my present and future accomplishments to CODESHALA..
									Chandan Sir, we love u..

								</p>
								<p class="card-text codeshala-feedbacktext text-left">~ Abhinav Saini<br/>Placed at KPMG</p>
							</div>
						</div>
					</div>

				</div>
			</div>
			<div class="col-lg-12">
				<div class="row">

					<div class="col-lg-9 col-md-9 col-sm-9">
						<div class="card border-primary mb-3">
							<div class="card-body codeshala-feedbackcard">
								<!--<h4 class="card-title">Primary card title</h4>-->
								<p class="card-text codeshala-feedbacktext text-left">

									Codeshala course was an exciting experience. It lasted for around 6 months and every class was worth the time and money spent. It was a great learning experience with vast variety of questions covered in the course duration. There were a variety of assignments too.

									Keeping everything in mind, hands down codeshala is one of the best place to learn.

								</p>
								<p class="card-text codeshala-feedbacktext text-left">~ Virendra<br/>Placed at Samsung </p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-3">
						<img src="assets/images/feedbacks/virendra.jpg" class="img-fluid rounded-circle codeshala-feedbackimage mx-auto float-center text-center">
					</div>
				</div>
			</div>
			<div class="col-lg-12">
				<div class="row">
					<div class="col-lg-3 col-md-3 col-sm-3">
						<img src="assets/images/feedbacks/sameer_taneja.jpg" class="img-fluid rounded-circle codeshala-feedbackimage mx-auto float-center text-center">
					</div>
					<div class="col-lg-9 col-md-9 col-sm-9">
						<div class="card border-primary mb-3">
							<div class="card-body codeshala-feedbackcard">
								<!--<h4 class="card-title">Primary card title</h4>-->
								<p class="card-text codeshala-feedbacktext text-left">In my opinion, a person can do anything if he has the commitment and zeal towards his goals but mentorship and guidance of people, certainly makes it easier to achieve one's goals. Chandan sir and codeshala provided me that much required guidance
									Codeshala helps me in tackling different kinds of problems by providing useful assignments on several topics.I have solved more than 300 problems in last one year on different OJ platforms.
									#AC_IN_ONE_GO
								</p>
								<p class="card-text codeshala-feedbacktext text-left">~ Sameer Taneja<br/>Placed at Samsung </p>
							</div>
						</div>
					</div>

				</div>
			</div>
			<div class="col-lg-12">
				<div class="row">

					<div class="col-lg-9 col-md-9 col-sm-9">
						<div class="card border-primary mb-3">
							<div class="card-body codeshala-feedbackcard">
								<!--<h4 class="card-title">Primary card title</h4>-->
								<p class="card-text codeshala-feedbacktext text-left">Codeshala helped me in binding various data structures and algorithms at one place. The impact of codeshala is that each and every student of various disciplines is doing programming confidently and achieving good rank in contests conducted by various online platforms. Now students are tackling questions of tree, graphs and dynamic programming very efficiently and they are achieving AC in one go.
								</p>
								<p class="card-text codeshala-feedbacktext text-left">~ Rajnish Yadav<br/>Placed at Samsung</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-3">
						<img src="assets/images/feedbacks/rajnish_yadav.jpg" class="img-fluid rounded-circle codeshala-feedbackimage mx-auto float-center text-center">
					</div>
				</div>
			</div>
			<div class="col-lg-12">
				<div class="row">
					<div class="col-lg-3 col-md-3 col-sm-3">
						<img src="assets/images/feedbacks/ankit_sharma.jpg" class="img-fluid rounded-circle codeshala-feedbackimage mx-auto float-center text-center">
					</div>
					<div class="col-lg-9 col-md-9 col-sm-9">
						<div class="card border-primary mb-3">
							<div class="card-body codeshala-feedbackcard">
								<!--<h4 class="card-title">Primary card title</h4>-->
								<p class="card-text codeshala-feedbacktext text-left">I m ankit from CSE 3rd year.
									I m a diploma holder with mechanical engg .
									When i came in ymca i didn't know what is coding even what is languages .
									Now i know almost all data structure and algorithms with related problem solving , just bcoz of *CHANDAN SIR* Thanx a lot sir. 
									I would like to suggest all students to be a part of codeshala if u wanna to become a good programmer
								</p>
								<p class="card-text codeshala-feedbacktext text-left">~ Ankit Sharma</p>
							</div>
						</div>
					</div>

				</div>
			</div>
			<div class="col-lg-12">
				<div class="row">

					<div class="col-lg-9 col-md-9 col-sm-9">
						<div class="card border-primary mb-3">
							<div class="card-body codeshala-feedbackcard">
								<!--<h4 class="card-title">Primary card title</h4>-->
								<p class="card-text codeshala-feedbacktext text-left">I started my programming in 2nd year,after I joined Codeshala .Before that I tried to do coding myself,but not able to build code logics,as a result, i feared a lot from competitive programming and even stopped doing it at some point.But Codeshala helped me to regain my confidence by making my concepts strong ,now am able to build logics myself and as a result , I have done more than 600 questions on HackerEarth.The way Codeshala teaches is really fun.One must have such a platform that can hone our skills.

								</p>
								<p class="card-text codeshala-feedbacktext text-left">~ Anmol Dua</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-3">
						<img src="assets/images/feedbacks/anmol_dua.jpg" class="img-fluid rounded-circle codeshala-feedbackimage mx-auto float-center text-center">
					</div>
				</div>
			</div>
			<div class="col-lg-12">
				<div class="row">
					<div class="col-lg-3 col-md-3 col-sm-3">
						<img src="assets/images/feedbacks/priya_narang.jpg" class="img-fluid rounded-circle codeshala-feedbackimage mx-auto float-center text-center">
					</div>
					<div class="col-lg-9 col-md-9 col-sm-9">
						<div class="card border-primary mb-3">
							<div class="card-body codeshala-feedbackcard">
								<!--<h4 class="card-title">Primary card title</h4>-->
								<p class="card-text codeshala-feedbacktext text-left">Codeshala is the platform if you are looking to hone your coding skills.. it's probably the best coding classes with the most knowledgeable and super cool mentor's..they not only teach you to code but also makes you concepts crystal clear. I wouldn't have been able to clear Samsung advance Test without guidance of codeshala 
								</p>
								<p class="card-text codeshala-feedbacktext text-left">~ Priya Narang<br/>Placed at Samsung</p>
							</div>
						</div>
					</div>

				</div>
			</div>
			<div class="col-lg-12">
				<div class="row">

					<div class="col-lg-9 col-md-9 col-sm-9">
						<div class="card border-primary mb-3">
							<div class="card-body codeshala-feedbackcard">
								<!--<h4 class="card-title">Primary card title</h4>-->
								<p class="card-text codeshala-feedbacktext text-left">As i am from LEET and also from civil so i had no idea about coding but thanks to codeshala who has taken me to the level which i could never acheive by myself. now i have solved many problems and my doubts are cleared,i won contests from even third year students(INS series) this is all because of codeshala.
									THANKS CHANDAN SIR.

								</p>
								<p class="card-text codeshala-feedbacktext text-left">~ Gagan Anand</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-3">
						<img src="assets/images/feedbacks/gagan_anand.jpg" class="img-fluid rounded-circle codeshala-feedbackimage mx-auto float-center text-center">
					</div>
				</div>
			</div>
			<div class="col-lg-12">
				<div class="row">
					<div class="col-lg-3 col-md-3 col-sm-3">
						<img src="assets/images/feedbacks/kushank_arora.jpg" class="img-fluid rounded-circle codeshala-feedbackimage mx-auto float-center text-center">
					</div>
					<div class="col-lg-9 col-md-9 col-sm-9">
						<div class="card border-primary mb-3">
							<div class="card-body codeshala-feedbackcard">
								<!--<h4 class="card-title">Primary card title</h4>-->
								<p class="card-text codeshala-feedbacktext text-left"> Codeshala is one of the place where you can learn programming rather than coding.

									Here they help us focus on concepts, algorithms, logics, and other core things which helps us build a big thing on our own!

									It has helped me a lot in improving my programming skills! I can not imagine a better course which could help me learn all this is such a beautiful way!

									I had not expected that i could explore programming in so depth that i could literally get in love with it!

									My love to coding, my progress(jitni bhi h, n jitni hogi :D), my dreams, are all because of codeshala!

									Thank you so much codeshala!

									And we love you Chandan Sir

								</p>
								<p class="card-text codeshala-feedbacktext text-left">~ Kushank Arora<br/>Placed at SquadRun</p>
							</div>
						</div>
					</div>

				</div>
			</div>
			<div class="col-lg-12">
				<div class="row">

					<div class="col-lg-9 col-md-9 col-sm-9">
						<div class="card border-primary mb-3">
							<div class="card-body codeshala-feedbackcard">
								<!--<h4 class="card-title">Primary card title</h4>-->
								<p class="card-text codeshala-feedbacktext text-left">Codeshala is the platform that you are looking for if you want your concepts to be crystal clear, your understanding to be deep and your learning to be comprehensive. 
									I suggest this place to the people who love programming and also to people who want to develop a love for it.
									Wonderful mentor. Quality assignments.
									Thank you Codeshala!


								</p>
								<p class="card-text codeshala-feedbacktext text-left">~ Garima Dhingra<br/>Placed at Amazon</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-3">
						<img src="assets/images/feedbacks/garima_dhingra.jpg" class="img-fluid rounded-circle codeshala-feedbackimage mx-auto float-center text-center">
					</div>
				</div>
			</div>
			<div class="col-lg-12">
				<div class="row">
					<div class="col-lg-3 col-md-3 col-sm-3">
						<img src="assets/images/feedbacks/sahil_singla.jpg" class="img-fluid rounded-circle codeshala-feedbackimage mx-auto float-center text-center">
					</div>
					<div class="col-lg-9 col-md-9 col-sm-9">
						<div class="card border-primary mb-3">
							<div class="card-body codeshala-feedbackcard">
								<!--<h4 class="card-title">Primary card title</h4>-->
								<p class="card-text codeshala-feedbacktext text-left">Very good platform for beginners as well as advanced programmers.. :)
									Everyone should go for it..irrespective of the branch they are in..! Programming here is a fun..and mentors are also very friendly..will recommend everyone to join :)
								</p>
								<p class="card-text codeshala-feedbacktext text-left">~ Sahil Singla<br/>Placed at Adobe</p>
							</div>
						</div>
					</div>

				</div>
			</div>
			<div class="col-lg-12">
				<div class="row">

					<div class="col-lg-9 col-md-9 col-sm-9">
						<div class="card border-primary mb-3">
							<div class="card-body codeshala-feedbackcard">
								<!--<h4 class="card-title">Primary card title</h4>-->
								<p class="card-text codeshala-feedbacktext text-left">Codeshala is a very unique concept which I think is the requirement of most of the programmers. There are a no. Of institutions where you can learn the syntax of different languages but Codeshala is a place where you can learn different approaches to solve problems, can learn how to write code in a neat and expressive way. We can learn many approaches in very short time interval. Moreover, in our group we discuss problems related to programming and development too. Codeshala is a family of coders and I feel proud to be a part of this family.
								</p>
								<p class="card-text codeshala-feedbacktext text-left">~ Preeti Nagal<br/>Placed at ECare

								</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-3">
						<img src="assets/images/feedbacks/preeti_nagal.jpg" class="img-fluid rounded-circle codeshala-feedbackimage mx-auto float-center text-center">
					</div>
				</div>
			</div>
			<!--Insert new feedback above this line-->
		</div>
	</div>
	<hr>
	<div class="container text-center" id="contact-us">
		<div class="row mx-auto">
			<div class="col-lg-6 codeshala-social">
				<h1 class="text-dark text-center font-weight-bold">Join us on facebook</h1><br/>
				<a href="https://www.facebook.com/CodeshalaOrg/" target="new">
					<i class="fa fa-4x fa-facebook-square" aria-hidden="true"></i>
				</a>		
			</div>	
			<div class="col-lg-6" class="codeshala-social codeshala-contact">
				<h1 class=" text-dark text-center font-weight-bold">Contact Us</h1><br/>
				<i class="fa fa-1x fa-envelope" aria-hidden="true"></i> contact@codeshala.org<br/>
				<i class="fa fa-1x fa-phone-square" aria-hidden="true"></i> +91-9582574901<br/>
			</div>
		</div>
	</div>
	<hr/>
	<footer class="container">
		<p class="float-right"><a href="#">Back to top</a></p>
		<p>&copy; 2017 Honeybyte <!--&middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a>--></p>
	</footer>
</body>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

<script src="https://use.fontawesome.com/bc4369196c.js"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109562734-1"></script>
<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'UA-109562734-1');
</script>
</html>