<!doctype html>
<html lang="en">
<head>
	<title>Codeshala | Get Better At Programing By Joining The Best programing courses in Delhi NCR</title> 
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!--CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
	<link href="assets/css/main.css" rel="stylesheet">
	<!--Meta Data-->
	<!-- for Google -->
	<meta name="description" content="We are community of programmers. Our community is lead by professionals who have broad experience in competitve programming and software development. Our community mentors are working at top companies and providing mentorship to candidates across different colleges." />
	<meta name="keywords" content="codeshala" />
	<meta name="author" content="Codeshala.Org" />
	<meta name="copyright" content="contact@codeshala.org" />
	<meta name="application-name" content="Codeshala" />
	<!-- for Facebook -->
	<meta property="og:url"                content="http://codeshala.org" />
	<meta property="og:type"               content="article" />
	<meta property="og:title"              content="Codeshala | GET BETTER AT PRORGAMMING" />
	<meta property="og:description"        content="We are community of programmers. Our community is lead by professionals who have broad experience in competitve programming and software development. Our community mentors are working at top companies and providing mentorship to candidates across different colleges." />
	<meta property="og:site_name"          content="Codeshala | GET BETTER AT PRORGAMMING" />
	<meta property="og:image"              content="https://s3-eu-west-1.amazonaws.com/codeshala.org/assets/cover-image.jpg" />
	<!-- for Twitter -->
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:title" content="Codeshala | GET BETTER AT PRORGAMMING" />
	<meta name="twitter:description" content="e are community of programmers. Our community is lead by professionals who have broad experience in competitve programming and software development. Our community mentors are working at top companies and providing mentorship to candidates across different colleges." />
	<meta name="twitter:image" content="https://s3-eu-west-1.amazonaws.com/codeshala.org/assets/cover-image.jpg" />
	<!-- Favicon and app icon settings -->
	<link rel="apple-touch-icon" sizes="57x57" href="assets/favicon/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="assets/favicon/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="assets/favicon/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="assets/favicon/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="assets/favicon/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="assets/favicon/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="assets/favicon/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="assets/favicon/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="assets/favicon/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="assets/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="assets/favicon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="assets/favicon/favicon-16x16.png">
	<link rel="manifest" href="assets/favicon/manifest.json">
	<meta name="msapplication-TileColor" content="#f3f3f3">
	<meta name="msapplication-TileImage" content="assets/favicon/ms-icon-144x144.png">
	<meta name="theme-color" content="#f3f3f3">

</head>
<body>
	<nav class="navbar navbar-expand-lg">
		<a class="navbar-brand" href="index.html">
			<img class="codeshala-logo" src="assets/images/site_logo.png">
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
			<ul class="navbar-nav justify-content-end">
				<li class="nav-item active">
					<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="#courses-section">Courses</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="#courses-section">Assignments</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="#courses-section">Contests</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="#placements">IDE</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="#about-us">Forum</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="#about-us">Blog</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="#about-us">Events</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="#contact-us">Contact Us</a>
				</li>
			</ul>
		</div>
	</nav>
	<div class="container text-center codeshala-heading">
		<h1><span style="color:#fd8900">CODE</span><span style="color:#0289fe">SHALA</span><br/>GET BETTER AT PROGRAMING</h1>
		<h2>
			We are community of programmers. Our community is lead by professionals who have broad experience in competitve programming and software development. Our community mentors are working at top companies and providing mentorship to candidates across different colleges. We provide learning courses to make you a better programmer.
		</h2>
		<p></p>
		<span class="text-center codeshala-theme codeshala-course-card-btn"><a href="/courses/node-js"><small>Not able to decide which course to join?</small><br/>Try our course chooser  <i class="fa fa-arrow-right"></i></a></span>

	</div>
	<hr>

	<div class="container text-center" id="courses-section">
		<div class="row mx-auto">
			<div class="card col-lg-3 codeshala-course-card">
				<div class="ribbon ribbon-top-left"><span>Open</span></div>
				<div class="codeshala-course-thumbnail" style="background-image:url(assets/images/course-icon/nodejs.png);background-size:cover;background-repeat: no-repeat;"></div>
				<h2>Full Stack Web Development Using Node.JS</h2>
				<p>12-16 Sessions<br/>The course is designed to make students understand basics of how the web works and make them develop frontend using popular frameworks like bootstrap and backend using Node.js with MongoDB database. This course adds awesome projects to your resume.</p>
				<span class="text-center codeshala-theme codeshala-course-card-btn"><a href="/courses/node-js">Explore more &amp; register <i class="fa fa-arrow-right"></i></a></span>
			</div>
			<div class="card col-lg-3 codeshala-course-card">
				<div class="ribbon ribbon-top-left"><span>Open</span></div>
				<div class="codeshala-course-thumbnail" style="background-image:url(assets/images/course-icon/cpp.png);background-size:contain;background-repeat: no-repeat;"></div>
				<h2>Introduction to programing using C++</h2>
				<p>22-25 Sessions<br/>This course will teach you how to program, with an easy to use programming language C/C++. More importantly, it will introduce you to the fundamental principles of programming and it will help you think like a software engineer.</p>
				<span class="text-center codeshala-theme codeshala-course-card-btn"><a href="/courses/node-js">Explore more &amp; register <i class="fa fa-arrow-right"></i></a></span>
			</div>
			<div class="card col-lg-3 codeshala-course-card">
				<div class="ribbon ribbon-top-left"><span>Open</span></div>
				<div class="codeshala-course-thumbnail" style="background-image:url(assets/images/course-icon/algo.png)"></div>
				<h2>Data Structures &amp; Algorithms 1</h2>
				<p>22-25 Sessions<br/>This course is mix of algorithms and data-structures. You are going to learn basic algorithms and implementation of data-structures. Teaching how to implement an algorithm and how to choose the right set of data-structures to solve the question is the primary goal of this course. </p>
				<span class="text-center codeshala-theme codeshala-course-card-btn"><a href="/courses/node-js">Explore more &amp; register <i class="fa fa-arrow-right"></i></a></span>
			</div>
			<div class="card col-lg-3 codeshala-course-card">
				<div class="codeshala-course-thumbnail" style="background-image:url(assets/images/course-icon/algo.png)"></div>
				<h2>Data Structures &amp; Algorithms 2</h2>
				<p>12-16 Sessions<br/>This course provides a comprehensive explanation of different types of graph, graph algorithms, strings algorithms, trie, segment tree, dynamic programming etc.  Throughout the course a step by step approach is followed to make you understand different algorithms. </p>
				<span class="text-center codeshala-theme codeshala-course-card-btn"><a href="/courses/node-js">Explore more  <i class="fa fa-arrow-right"></i></a></span>
			</div>
			<div class="card col-lg-3 codeshala-course-card">
				<div class="codeshala-course-thumbnail" style="background-image:url(assets/images/course-icon/placement.png)"></div>
				<h2>Coding Interview Prepration</h2>
				<p>This course is beneficial for the candidates who are going to participate in campus placements. Course includes all the topics algorithms, data structures, Object-Oriented Programming, OS, DB and Networking which are essential components of a technical interview of different companies.</p>
				<span class="text-center codeshala-theme codeshala-course-card-btn"><a href="/courses/node-js">Explore more  <i class="fa fa-arrow-right"></i></a></span>
			</div>
			<!--<div class="card col-lg-3 codeshala-course-card">
				<div class="codeshala-course-thumbnail" style="background-image:url(assets/images/course-icon/android.jpg)"></div>
				<h2>Android Development</h2>
				<p>12-16 Sessions<br/>The course is designed to make students understand basics of how the web works and make them develop frontend using popular frameworks like bootstrap and backend using Node.js with MongoDB database</p>
				<span class="text-center codeshala-theme codeshala-course-card-btn"><a href="/courses/node-js">Explore more  <i class="fa fa-arrow-right"></i></a></span>
			</div>-->
			<!-- Insert new course above this line-->
		</div>
	</div>
	<div class="container text-center"  id="stats">
		<h3 class=" text-dark text-left font-weight-bold">
			Stats that make us proud
		</h3>
		<div class="row mx-auto text-center float-center">
			<div class="codeshala-stats-card mx-auto">
				<span class="codeshala-stats-card-count">300+</span><br/><br/><span>Students Trained</span>
			</div>
			<div class="codeshala-stats-card  mx-auto">
				<span class="codeshala-stats-card-count">300+</span><br/><br/><span>Placements</span>
			</div>
			<div class="codeshala-stats-card  mx-auto">
				<span class="codeshala-stats-card-count">300+</span><br/><br/><span>Hours Of Teaching</span>
			</div>
			<div class="codeshala-stats-card  mx-auto">
				<span class="codeshala-stats-card-count">300+</span><br/><br/><span>Projects</span>
			</div>
		</div>
	</div>
	<div class="container text-center"  id="projects">
		<h3 class=" text-dark text-left font-weight-bold">
			Projects developed by our geeks 
		</h3>
		<div class="row mx-auto" style="position:relative">
			<div class="card col-lg-3 codeshala-projects-card">
				<div class="codeshala-projects-thumbnail" style="background-image:url(assets/images/projects/doodle-pen.png)"></div>
				<h2 class="codeshala-projects-title">Doodle Pen</h2>
				<p class="codeshala-projects-description">By Paras & Aarti<br/>A code editor IDE for Web developers. Supports HTML, CSS And JavaScript</p>
				<span class="text-center codeshala-theme codeshala-course-card-btn"><a href="/courses/node-js">View Demo  <i class="fa fa-arrow-right"></i></a></span>
			</div>
			<div class="card col-lg-3 codeshala-projects-card">
				<div class="codeshala-projects-thumbnail" style="background-image:url(assets/images/projects/doodle-pen.png)"></div>
				<h2 class="codeshala-projects-title">Doodle Pen</h2>
				<p class="codeshala-projects-description">By Paras & Aarti<br/>A code editor IDE for Web developers. Supports HTML, CSS And JavaScript</p>
				<span class="text-center codeshala-theme codeshala-course-card-btn"><a href="/courses/node-js">View Demo  <i class="fa fa-arrow-right"></i></a></span>
			</div>
			<div class="card col-lg-3 codeshala-projects-card">
				<div class="codeshala-projects-thumbnail" style="background-image:url(assets/images/projects/doodle-pen.png)"></div>
				<h2 class="codeshala-projects-title">Doodle Pen</h2>
				<p class="codeshala-projects-description">By Paras & Aarti<br/>A code editor IDE for Web developers. Supports HTML, CSS And JavaScript</p>
				<span class="text-center codeshala-theme codeshala-course-card-btn"><a href="/courses/node-js">View Demo  <i class="fa fa-arrow-right"></i></a></span>
			</div>
			<div class="codeshala-arrow"><a href="/projects">View all projects <i class="fa fa-arrow-right"></i></a></div>
		</div>
	</div>	
	<div class="container"  id="feedbacks">
		<h3 class="text-dark text-left font-weight-bold">
			Feedbacks Of Our Students
		</h3>
		<div class="row">
			<div class="card col-lg-12 codeshala-feedbacks-card">
				<div class="row">
					<div class="col-lg-2">
						<img src="assets/images/feedbacks/sample.jpg" height="150px" width="150px">
					</div>
					<div class="col-lg-10">
						<h2 class="codeshala-feedbacks-title">Jatin Bansal </h2>
						<p class="codeshala-feedbacks-description">Placed at Amazon<br/>If i want to give credits to anyone after my parents, then it is codeshala. Codeshala provided me with everything to become a better programmer. I was just a rock, codeshala made me gold. Almost every question that i encountered in Amazon interview was in the codeshala assignments . I just want to thank Chandan sir for his contribution and guidance and for being the best mentor any student can get. No doubt codeshala is the best place to learn. </p>
					</div>
				</div>
			</div>
			<div class="card col-lg-12 codeshala-feedbacks-card">
				<div class="row">
					<div class="col-lg-2">
						<img src="assets/images/feedbacks/sample.jpg" height="150px" width="150px">
					</div>
					<div class="col-lg-10">
						<h2 class="codeshala-feedbacks-title">Jatin Bansal </h2>
						<p class="codeshala-feedbacks-description">Placed at Amazon<br/>If i want to give credits to anyone after my parents, then it is codeshala. Codeshala provided me with everything to become a better programmer. I was just a rock, codeshala made me gold. Almost every question that i encountered in Amazon interview was in the codeshala assignments . I just want to thank Chandan sir for his contribution and guidance and for being the best mentor any student can get. No doubt codeshala is the best place to learn. </p>
					</div>
				</div>
			</div>
			<div class="card col-lg-12 codeshala-feedbacks-card">
				<div class="row">
					<div class="col-lg-2">
						<img src="assets/images/feedbacks/sample.jpg" height="150px" width="150px">
					</div>
					<div class="col-lg-10">
						<h2 class="codeshala-feedbacks-title">Jatin Bansal </h2>
						<p class="codeshala-feedbacks-description">Placed at Amazon<br/>If i want to give credits to anyone after my parents, then it is codeshala. Codeshala provided me with everything to become a better programmer. I was just a rock, codeshala made me gold. Almost every question that i encountered in Amazon interview was in the codeshala assignments . I just want to thank Chandan sir for his contribution and guidance and for being the best mentor any student can get. No doubt codeshala is the best place to learn. </p>
					</div>
				</div>
			</div>


		</div>

	</div>	
	<div class="container-fluid codeshala-placements" id="placements">
		<div class="container">
			<h3 class="text-light text-left font-weight-bold">
				Placements
			</h3>
			<p class="text-light"><br/>We've achieved 100+ internship and job offers so far. Our community members placed at top companies like:</p><br/>
			<div class="row mx-auto">
				<div class="col-lg-3 mx-auto">
					<img  src="assets/images/amazon.png" alt="Amazon" class="img-fluid codeshala-company-image">
				</div>
				<div class="col-lg-3 mx-auto">
					<img  src="assets/images/samsung.png" alt="Samsung" class="img-fluid codeshala-company-image">
				</div>
				<div class="col-lg-3 mx-auto">
					<img  src="assets/images/mediatek.png" alt="Mediatek" class="img-fluid codeshala-company-image">
				</div>
				<div class="col-lg-3 mx-auto">
					<img  src="assets/images/sprinklr.png" alt="Sprinklr" class="img-fluid codeshala-company-image">
				</div>
				<div class="col-lg-3 mx-auto">
					<img  src="assets/images/adobe.png" alt="Adobe" class="img-fluid codeshala-company-image">
				</div>
				<div class="col-lg-3 mx-auto">
					<img  src="assets/images/opera.png" alt="Opera" class="img-fluid codeshala-company-image">
				</div>
				<div class="col-lg-3 mx-auto">
					<img  src="assets/images/sapient.png" alt="Sapient" class="img-fluid codeshala-company-image">
				</div>
				<div class="col-lg-3 mx-auto">
					<img  src="assets/images/squadrun.png" alt="Squadrun" class="img-fluid codeshala-company-image">
				</div>
				<div class="col-lg-3 mx-auto">
					<img  src="assets/images/smartprix.png" alt="Smartprix" class="img-fluid codeshala-company-image">
				</div>
				<div class="col-lg-3 mx-auto">
					<img  src="assets/images/st.png" alt="ST" class="img-fluid codeshala-company-image">
				</div>
				<div class="col-lg-3 mx-auto">
					<img  src="assets/images/magicpin.png" alt="MagicPin" class="img-fluid codeshala-company-image">
				</div>
				<div class="col-lg-3 mx-auto">
					<img  src="assets/images/tcs.png" alt="TCS" class="img-fluid codeshala-company-image">
				</div>
				<div class="col-lg-3 mx-auto">
					<img  src="assets/images/daffodil.png" alt="Daffodil" class="img-fluid codeshala-company-image">
				</div>
				<div class="col-lg-3 mx-auto">
					<img  src="assets/images/capegemini.png" alt="Capegemini" class="img-fluid codeshala-company-image">
				</div>
				<div class="col-lg-3 mx-auto">
					<img  src="assets/images/libsys.png" alt="Libsys" class="img-fluid codeshala-company-image">
				</div>
				<!--Add new logos above this line-->
			</div>
		</div>
	</div>
	<footer class="container-fluid">
		<div class="row">
			<div class="col-lg-3">
				<img class="codeshala-logo" src="assets/images/site_logo.png"><br/>
				GET BETTER AT PROGRAMING<br/><br/>
				&copy; HoneyByte 2018<br/>
				<a href="" style="color:#7f7f7f;">T&C</a> | <a href="" style="color:#7f7f7f;">Privacy policy</a> 
			</div>
			<div class="col-lg-9" style="valign:top">
				<div class="row">
					<div class="col-lg-2 text-left">
						<h3 class="footer-links-title">COMPANY</h3>
						<ul class="footer-links">
							<li>
								<a href="#">About</a>
							</li>
							<li>
								<a href="#">Mentors</a>
							</li>
							<li>
								<a href="#">Projects</a>
							</li>
							<li>
								<a href="#">Events</a>
							</li>
							<li>
								<a href="#">Contact Us</a>
							</li>
							<li>
								<a href="https://github.com/CodeShala" target="new">Github</a>
							</li>
						</ul>
					</div>
					<div class="col-lg-4 text-left">
						<h3 class="footer-links-title">COURSES</h3>
						<ul class="footer-links">
							<li>
								<a href="#">Full stack web development using Node.Js</a>
							</li>
							<li>
								<a href="#">Introduction to programing using C++</a>
							</li>
							<li>
								<a href="#">Data Structures & Algorithms - 1 </a>
							</li>
							<li>
								<a href="#">Data Structures & Algorithms - 2 </a>
							</li>
							<li>
								<a href="#">Interview Prepration </a>
							</li>
						</ul>
					</div>
					<div class="col-lg-3 text-left">
						<h3 class="footer-links-title">RESOURCES</h3>
						<ul class="footer-links">
							<li>
								<a href="#">Coding Assignments</a>
							</li>
							<li>
								<a href="#">Coding Contests</a>
							</li>
							<li>
								<a href="#">Question of the day</a>
							</li>
							<li>
								<a href="#">Web development Assignments</a>
							</li>
							<li>
								<a href="#">IDE</a>
							</li>
							<li>
								<a href="#">Forum</a>
							</li>
						</ul>
					</div>
					<div class="col-lg-3 text-left">
						<h3 class="footer-links-title">SOCIAL</h3>
						<ul class="footer-links">
							<li>
								<a href="#">Facebook Page</a>
							</li>
							<li>
								<a href="#">Facebook Group</a>
							</li>
							<li>
								<a href="#">Telegram Group</a>
							</li>
						</ul>
					</div>
					
				</div>
			</div>
		</div>
	</footer>
</body>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

<script src="https://use.fontawesome.com/bc4369196c.js"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-115351307-1"></script>
<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'UA-115351307-1');
</script>

</html>
