<!doctype html>
<html lang="en">
<head>
    <title>Admin Login | Codeshala | Get Better At Programing By Joining The Best programing courses in
        Delhi NCR</title>
    <% include ../partials/header %>
    <% include ../partials/metadata %>
</head>
<body>
<% include ../partials/nav %>
<div class="container-fluid codeshala-banner">
    <div class="container text-center codeshala-course-heading">
        <h1>
            Admin Login<br/>
        </h1>
        <br/>

        <form action="/login" method="post">
            <div>
                <label>Username:</label>
                <input type="text" name="username"/><br/>
            </div>
            <div>
                <label>Password:</label>
                <input type="password" name="password"/>
            </div>
            <div>
                <input type="submit" value="Login"/>
            </div>
        </form>
        <br/><br/><br/>
    </div>
</div>

</div>
<div class="container-fluid codeshala-placements" id="placements">
    <div class="container">
        <h3 class="text-light text-center font-weight-bold">
            Confused on which course you should choose?<br/>
            <span class="text-center codeshala-theme codeshala-course-card-btn">
					<a href="/courses/node-js" class="text-light">
						Try our course finder tool
						<i class="fa fa-arrow-right"></i>
					</a>
				</span>

        </h3>
    </div>
</div>
<% include ../partials/footer %>
</body>

<% include ../partials/footer-scripts %>
</html>