<!doctype html>
<html lang="en">
<head>
    <title>Registration Successful | Codeshala | Get Better At Programing By Joining The Best programing courses in
        Delhi NCR</title>
    <% include ../partials/header %>
    <% include ../partials/metadata %>
</head>
<body>
<% include ../partials/nav %>
<div class="container-fluid codeshala-banner">
    <div class="container text-center codeshala-course-heading">
        <h1>
            Congratulations!<br/>
        </h1>
        <br/>
        <p>You Have Been Successfully Registered For Our Course!<br/> We will get in touch with you shortly.</p>
        <br/><br/><br/>
    </div>
</div>

</div>
<div class="container-fluid codeshala-placements" id="placements">
    <div class="container">
        <h3 class="text-light text-center font-weight-bold">
            Confused on which course you should choose?<br/>
            <span class="text-center codeshala-theme codeshala-course-card-btn">
					<a href="/courses/node-js" class="text-light">
						Try our course finder tool 
						<i class="fa fa-arrow-right"></i>
					</a>
				</span>

        </h3>
    </div>
</div>
<% include ../partials/footer %>
</body>

<% include ../partials/footer-scripts %>
<script src="/assets/js/registration.js"></script>
</html>