<!doctype html>
<html lang="en">
<head>
    <title>Login | Codeshala | Get Better At Programing By Joining The Best programing courses in
        Delhi NCR</title>
    <% include ../partials/header %>
    <% include ../partials/metadata %>
    <script src="https://sdk.accountkit.com/en_US/sdk.js"></script>

    <script type="text/javascript">
        // initialize Account Kit with CSRF protection
        AccountKit_OnInteractive = function () {
            AccountKit.init(
                {
                    appId: "348992692256013",
                    state: "poiuycgh",
                    version: "v1.1",
                    fbAppEventsEnabled: true,
                    redirect: "http://codeshala.org/success",
                    debug: "true"
                }
            );
        };


        // phone form submission handler
        function smsLogin() {
            var countryCode = document.getElementById("country_code").value;
            var phoneNumber = document.getElementById("phone_number").value;
            AccountKit.login(
                'PHONE',
                {countryCode: countryCode, phoneNumber: phoneNumber}, // will use default values if not specified
                loginCallback
            );
        }


        // email form submission handler
        function emailLogin() {
            var emailAddress = document.getElementById("email").value;
            AccountKit.login(
                'EMAIL',
                {emailAddress: emailAddress},
                loginCallback
            );
        }

        // login callback
        function loginCallback(response) {
            if (response.status === "PARTIALLY_AUTHENTICATED") {
                document.getElementById('token').value = response.code;
                document.getElementById('studentLoginForm').submit();
                //var csrf = response.state;
                //console.log(code);
                //console.log(csrf);

            }
            else if (response.status === "NOT_AUTHENTICATED") {
                console.log("NA");
            }
            else if (response.status === "BAD_PARAMS") {
                // handle bad parameters
                console.log("BP");
            }
        }
    </script>
</head>
<body>
<% include ../partials/nav %>
<div class="container text-center">
    <div class="row">
        <div class="col-lg-5 mx-auto">
            <h3>
                Login to your <br/>Codeshala Account<br/>
            </h3>
            <br/>
            <div class="form-group">
                <label>Enter Your Mobile Number</label>
                <input value="+91" id="country_code" hidden/>
                <input type="text" placeholder="10 digit phone number" id="phone_number" name="phoneno"
                       class="form-control" maxlength="10" minlength="10" required>
                <div class="valid-feedback" id="message-correct-otp">
                    Looks good! Click on send OTP to verify your phone number
                </div>
                <div class="invalid-feedback" id="message-incorrect-otp">
                    Please correct your phone number.
                </div>
            </div>
            <button class="btn btn-primary" onclick="smsLogin();" id="getOTP" disabled>Login</button>
            <br/><br/>
        </div>
    </div>
</div>
<form action="/studentlogin" method="post" id="studentLoginForm">
    <input type="text" id="token" name="token" hidden/>
</form>
</div>
<div class="container-fluid codeshala-placements" id="placements">
    <div class="container">
        <h3 class="text-light text-center font-weight-bold">
            Confused on which course you should choose?<br/>
            <span class="text-center codeshala-theme codeshala-course-card-btn">
					<a href="/courses/node-js" class="text-light">
						Try our course finder tool
						<i class="fa fa-arrow-right"></i>
					</a>
				</span>

        </h3>
    </div>
</div>
<% include ../partials/footer %>
</body>

<% include ../partials/footer-scripts %>
<script src="/assets/js/registration.js"></script>

</html>